.header{
width: 100vw;
height: 100vh;
background-image: url(https://i.ibb.co/9tWhmS9/cover.jpg);
background-position: center;
text-align: center;
}
body, h1,h2,h3,h4,p,a{
  font-size: 100%;
  font-weight: normal;
  margin:0;
}
*{
  box-sizing: border-box;
}
.header-title{
  font-size: 140px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  margin:auto;
}
.overlay{
  height: 100%;
  width: 100%;
  background-color: rgb(0,0,0,.5);
  text-align:center;
  display: flex;
}
body{
  font-family: 'Helvetica', 'Arial', sans-serif
}
.content{
  font-size:0;
  width: 790px;
  margin:0 auto 0 auto;
  margin-top:100px;
  margin-bottom:50px;
}
.card{
  width:350px;
  margin-bottom: 60px;
  padding:  45px 45px 70px;
  display: inline-block;
  margin-right: 90px;
  box-shadow: 4px 4px 5px rgba(250, 50, 50, .4);
}
.card-title{
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.card-text{
  font-size: 16px;
}
.card-image{
  width:100%;
  margin-bottom: 25px;
}
.no-right-margin{
  margin-right:0px;
}
.footer{
  display: flex;
  height: 300px;
  background-color: #000;
}
.footer-author{
  color:#fff;
  font-size: 24px;
  margin: auto;
}